<div class="row container-fluid mt-3">
    <div class="col-4"></div>
    <div class="col-4 ">
        <div class="input-group input-group-sm mb-3">
            <input class="form-control" type="text">
            <div class="input-group-prepend">
                <span class="input-group-text btn append-search"><i class="fa fa-search element"></i></span>
            </div>
        </div>
    </div>
    <div class="col-4">
        <a href="#/job" id="get-data"><button class="btn btn-sm btn-primary float-right button5" type="button">
                &nbsp;&nbsp; Job &nbsp;&nbsp; </button></a>
    </div>
</div>