<div class="row">
    <div class="col-12">
        <div class="card ml-4">
            <div class="text-center">
                <div class="sidebar full-height">
                    <a href="#/Test_1">Test_1</a>
                    <a href="#/Test_2">Test_2</a>
                    <a href="#/Test_3">Test_3</a>
                </div>
            </div>
        </div>
    </div>
</div>