body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

/* search icon */
.element {
    position: relative;
}

.element:before {
    content: "\f002";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff;
    font-size: 14px;
    outline: invert;
}

.append-search {
    background-color: #007bff;
    color: white;
}

.button5 {
    border-radius: 18px;
}

.custom-height1 {
    height: 35vh;
}

.custom-height2 {
    height: 50vh;
}

.full-height {
    height: 87.8vh;
}

.main-content {
    background-color: rgb(224, 232, 235);
}

.sidebar a {
    display: block;
    color: black;
    padding: 14px;
    text-decoration: none;
    border-bottom: 1px solid gray;
}

.sidebar a:hover:not(.active) {
    background-color: #0069d9;
    color: white;
}

div.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 14px 0 rgba(0, 0, 0, 0.12);
}