<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-body text-center custom-height1">
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="card mr-4">
            <div class="card-body text-center custom-height1">
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-3">
        <div class="card">
            <div class="card-body text-center custom-height2">
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body text-center custom-height2">
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="card mr-4">
            <div class="card-body text-center custom-height2">
            </div>
        </div>
    </div>
</div>