<div class="row">
    <div class="col-12">
        <div id="blocklyDiv" class="card mr-4 full-height">
            <xml id="toolbox" style="display: none">
                <category name="Logic" colour="210">
                    <block type="logic_compare"></block>
                    <block type="logic_operation"></block>
                    <block type="logic_negate"></block>
                    <block type="controls_if"></block>
                    <block type="logic_boolean"></block>
                </category>
                <category name="Loops" colour="120">
                    <block type="controls_if"></block>
                    <block type="controls_whileUntil"></block>
                </category>
                <category name="Math" colour="230">
                    <block type="math_number"></block>
                    <block type="math_round"></block>
                    <block type="math_constrain"></block>
                    <block type="math_constant"></block>
                    <block type="math_trig"></block>
                    <block type="math_number_property"></block>
                    <block type="math_change"></block>
                </category>
                <category name="Text" colour="120">
                    <block type="text"></block>
                    <block type="text_multiline"></block>
                    <block type="text_join"></block>
                    <block type="text_create_join_container"></block>
                    <block type="text_create_join_item"></block>
                    <block type="text_append"></block>
                    <block type="text_length"></block>
                    <block type="text_isEmpty"></block>
                    <block type="text_indexOf"></block>
                    <block type="text_charAt"></block>
                </category>
                <category name="Lists" colour="230">
                    <block type="lists_create_empty"></block>
                    <block type="lists_repeat"></block>
                    <block type="lists_reverse"></block>
                    <block type="lists_isEmpty"></block>
                    <block type="lists_length"></block>
                </category>
                <category name="Colour" colour="20">
                    <block type="colour_picker"></block>
                    <block type="colour_random"></block>
                    <block type="colour_blend"></block>
                </category>
                <category name="Variables" colour="330" custom="VARIABLE"></category>
                <category name="Functions" colour="290" custom="PROCEDURE"></category>
            </xml>
        </div>
    </div>
</div>